<h1>Редактирование лабы</h1>

<%= render "form", lab: @lab %>

<br>

<div>
  <%= link_to "Показать комменты", @lab %> |
  <%= link_to 'Удалить', @lab, method: :delete, data: { confirm: 'Уверен?' }%>|
  <%= link_to "Назад", labs_path %>
</div>
