<h2>Добавление новой лабы</h2>
<%= form_for :labs , url: labs_path do |f|%>
    <p>
    Название<br>
    <%=f.text_field :title %>
    </p>

    <p>
    Текст лабы<br>
    <%=f.text_area :body %>
    </p>


    <p>
    <%=f.submit%>
    </p>

<%end%>